h1,
h3,
h4,
p {
  text-align: center;
}

.login-card {
  border: 1px solid rgb(194, 194, 194);
  max-width: 45%;
  margin: auto;
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 20px 35px;
  background: rgba(245, 245, 245, 0.5);
  box-shadow: 10px 10px 5px #aaaaaa;

}

.btn-1 {
  width: 100%;
  text-align: center;
  position: relative;
}

.btn-1 .btn {
  width: 50%;
}

.spinner-border {
  position: absolute;
  right: 0;
}
