<div class="container">
  <div *ngIf="loading" class="spinner-border"></div>
  <h2>All Polls</h2>
  <div *ngFor="let poll of pageOfItems; index as i">
    <h4>{{i+1}}. {{poll.title}}</h4>
    <button type="button" class="btn btn-info poll-edit-btn btn-all" data-toggle="modal" data-target="#editpoll"
      (click)="getTitleAndID(poll.title,poll )">Edit</button>&nbsp;&nbsp;
    <button type="button" *ngIf="poll._id !== showDeleting" class="btn btn-danger poll-del-btn btn-all"
      (click)="deletepoll(poll)">Delete</button>
    <button type="button" *ngIf="poll._id ===  showDeleting" disabled
      class="btn btn-danger poll-del-btn btn-all">Deleting..</button>
    <ol type="a">
      <div *ngFor="let options of poll.options">
        <div *ngIf="options.option !== 'null'">
          <li>
            {{options.option}}
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" [style.width.%]="options.vote"
                attr.aria-valuenow={{options.vote}} aria-valuemin="0" aria-valuemax="100">{{options.vote}}</div>
            </div>
            <button *ngIf="deleOption !== options.option" type="button" class="btn btn-danger opt-del-btn btn-all"
              (click)="deleteOpt(poll,options.option)">
              Delete</button>
            <button *ngIf="deleOption  === options.option" disabled type="button"
              class="btn btn-danger opt-del-btn btn-all">
              Deleting..</button>
          </li>
        </div>
      </div>
    </ol>
    <button class="btn btn-success add-opt-btn btn-all" type="button" (click)="addOptionId(poll)" data-toggle="modal"
      data-target="#addoptionmodel">Add
      Option</button><br /><br />

    <!-- Edit Poll Modal -->
    <div class="modal" id="editpoll">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Edit Poll</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <input type="text" autofocus #newPollName value="{{tempTitle}}" autofocus class="form-control">
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" (click)="editpoll(tempPoll ,newPollName.value)"
              data-dismiss="modal">Submit</button>

          </div>

        </div>
      </div>
    </div>
    <!-- Add Option Modal -->
    <form [formGroup]="addOptionForm">
      <div class="modal" id="addoptionmodel">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add option</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <input formControlName="newoption" type="text" required autofocus class="form-control">
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success" data-dismiss="modal" [disabled]="addOptionForm.invalid"
                (click)="addOption(tempAddOption,addOptionForm.get('newoption'))">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="page">
    <jw-pagination [items]="items" (changePage)="onChangePage($event)" class="pagination"></jw-pagination>
  </div>
</div>